@model Restaurant.Areas.Admin.ViewModels.TransactionContactUViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="TransactionContactU">TransactionContactU</a></li>
            <li class="breadcrumb-item active">Create</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="TransactionContactUId" class="form-control" type="hidden" value="0"/>
            <div class="form-group">
                <label asp-for="TransactionContactUFullName" class="control-label"></label>
                <input asp-for="TransactionContactUFullName" class="form-control" />
                <span asp-validation-for="TransactionContactUFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionContactUEmail" class="control-label"></label>
                <input asp-for="TransactionContactUEmail" class="form-control" />
                <span asp-validation-for="TransactionContactUEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionContactUSubject" class="control-label"></label>
                <input asp-for="TransactionContactUSubject" class="form-control" />
                <span asp-validation-for="TransactionContactUSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionContactUMessage" class="control-label"></label>
                <input asp-for="TransactionContactUMessage" class="form-control" />
                <span asp-validation-for="TransactionContactUMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>

