@model Restaurant.Areas.Admin.ViewModels.TransactionContactUViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="pagetitle">
    <h1>TransactionContactU</h1>
    <br />
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="TransactionContactU">TransactionContactU</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </nav>
</div>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TransactionContactUId" />
    <input type="hidden" asp-for="CreateUser" />
    <input type="hidden" asp-for="CreateDate" />
    <div class="row m-0">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="TransactionContactUFullName" class="form-label"></label>
                <input asp-for="TransactionContactUFullName" class="form-control" />
                <span asp-validation-for="TransactionContactUFullName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="TransactionContactUEmail" class="form-label"></label>
                <input asp-for="TransactionContactUEmail" class="form-control" />
                <span asp-validation-for="TransactionContactUEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="TransactionContactUSubject" class="form-label"></label>
                <input asp-for="TransactionContactUSubject" class="form-control" />
                <span asp-validation-for="TransactionContactUSubject" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="TransactionContactUMessage" class="form-label"></label>
                <input asp-for="TransactionContactUMessage" class="form-control" />
                <span asp-validation-for="TransactionContactUMessage" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="text-end">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</form>

<div class="row d-none">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransactionContactUId" />
            <input type="hidden" asp-for="CreateUser" />
            <input type="hidden" asp-for="CreateDate" />
            <div class="form-group">
                <label asp-for="TransactionContactUFullName" class="form-label"></label>
                <input asp-for="TransactionContactUFullName" class="form-control" />
                <span asp-validation-for="TransactionContactUFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionContactUEmail" class="form-label"></label>
                <input asp-for="TransactionContactUEmail" class="form-control" />
                <span asp-validation-for="TransactionContactUEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionContactUSubject" class="form-label"></label>
                <input asp-for="TransactionContactUSubject" class="form-control" />
                <span asp-validation-for="TransactionContactUSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionContactUMessage" class="form-label"></label>
                <input asp-for="TransactionContactUMessage" class="form-control" />
                <span asp-validation-for="TransactionContactUMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-end d-none">
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>

