@model Restaurant.Areas.Admin.ViewModels.MasterSliderViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="pagetitle">
    <h2>MasterSlider</h2>
    <br />
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="MasterSlider">MasterSlider</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </nav>
</div>

<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="MasterSliderId" />
    <input type="hidden" asp-for="CreateUser" />
    <input type="hidden" asp-for="CreateDate" />
    <div class="row m-0">
        <div class=col-4>
            <div class="form-group">
                <label asp-for="MasterSliderTitle" class="form-label"></label>
                <input asp-for="MasterSliderTitle" class="form-control" />
                <span asp-validation-for="MasterSliderTitle" class="text-danger"></span>
            </div>
        </div>
        <div class=col-4>
            <div class="form-group">
                <label asp-for="MasterSliderBreef" class="form-label"></label>
                <input asp-for="MasterSliderBreef" class="form-control" />
                <span asp-validation-for="MasterSliderBreef" class="text-danger"></span>
            </div>
        </div>
        <div class=col-4>
            <div class="form-group">
                <label asp-for="MasterSliderDesc" class="form-label"></label>
                <input asp-for="MasterSliderDesc" class="form-control" />
                <span asp-validation-for="MasterSliderDesc" class="text-danger"></span>
            </div>
        </div>
        <div class=col-4>
            <div class="form-group">
                <label asp-for="MasterSliderFile" class="form-label"></label>
                <input asp-for="MasterSliderFile" class="form-control" />
                <span asp-validation-for="MasterSliderFile" class="text-danger"></span>
                <input type="hidden" asp-for="MasterSliderUrl" class="form-control" />
            </div>
        </div>
    </div>
    <div class="text-end">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</form>
