@model Restaurant.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "ContactUs";
    Layout = "_LayoutNew";
}

<div class="breadcrumb-area bg-img ptb-80" style="background-image:url(/assets/img/banner/breath.jpg);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h3>Contact us</h3>
            <ul>
                <li>
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="active">Contact us</li>
            </ul>
        </div>
    </div>
</div>
<div class="contact-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-message-wrapper">
                    <h4 class="contact-title mb-25">Leave Us a Message</h4>
                    <div class="contact-message">
                        <form asp-action="ContactU">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="contact-form-style mb-20">
                                        <input asp-for="TransactionContactU.TransactionContactUFullName" placeholder="Full Name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="contact-form-style mb-20">
                                        <input asp-for="TransactionContactU.TransactionContactUEmail" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="contact-form-style mb-20">
                                        <input asp-for="TransactionContactU.TransactionContactUSubject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="contact-form-style">
                                        <textarea asp-for="TransactionContactU.TransactionContactUMessage" placeholder="Message"></textarea>
                                        <button class="submit btn-style" type="submit">SEND MESSAGE</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info-area">
                    <h4 class="contact-title mb-18">Contact Us</h4>
                    <p>Lorem ipsum dolor sit amet, conse ncteturll adipisicing elit, sed do eiusmod </p>
                    @foreach (var item in Model.ContactUsList)
                    {
                        <div class="contact-info-wrap">
                            <div class="single-contact-info mb-40">
                                @Html.Raw(item.MasterContactUsInformationImageUrl)
                                @Html.Raw(item.MasterContactUsInformationIdesc)
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="map-area pt-100">
            <div id="googleMap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13545.756525394996!2d35.904300649999996!3d31.9218331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sjo!4v1703288272582!5m2!1sen!2sjo" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="pt-50"></div>
